:root {
    font-family: Outfit, sans-serif;
    --light-blue: #31C3BD;
    --light-blue-hover: #65E9E4;
    --light-yellow: #F2B137;
    --light-yellow-hover: #FFC860;
    --dark-navy: #1A2A33;
    --semi-dark-navy: #1F3641;
    --silver: #A8BFC9;
    --silver-hover: #DBE8ED;
    -webkit-text-size-adjust: 100%;
    font-size: 10px;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    max-width: 320px;
    max-height: 100vh;
    background-color: var(--dark-navy);
}

h1 {
    color: var(--silver, #A8BFC9);
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

h2 {
    color: var(--silver, #A8BFC9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
}

h3 {
    color: var(--silver, #A8BFC9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

h4 {
    color: var(--silver, #A8BFC9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

p {
    color: var(--silver, #A8BFC9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0875rem;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
  }